.overpopulation{
  background-image: url(../img/prblms/overpopulation.jpg);
}
.warm{
  background-image: url(../img/prblms/warm.jpg);
}
.dirtwater{
  background-image: url(../img/prblms/dirtwater.jpg);
}
.dirtair{
  background-image: url(../img/prblms/dirtair.jpg);
}
.digover{
  background-image: url(../img/prblms/digover.jpg);
}
.deforest{
  background-image: url(../img/prblms/deforest.jpg);
}
